<nav class="navbar">
  <div class="nav-logo">
    <div class="logo-box">
      <img src="@public/images/logo.jpg" alt="" />
    </div>
    <span class="logo-text">FlashyCards</span>
  </div>
  <div class="nav-user">
    <span class="user-status">Connecté : <b>Username</b></span>
    <button class="btn-logout">Déconnexion</button>
  </div>
</nav>
