<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>
      {{ title || 'FlashyCards' }}
    </title>
    @vite(['resources/css/app.css', 'resources/js/app.js'])
  </head>
  <body>
    {{-- On va chercher le header dans ton dossier Partials --}}
    @include('Partials/header')

    <main class="container">
      {{{ await $slots.main() }}}
    </main>

    <footer style="text-align: center; margin-top: 2rem;">
      <small>© 2026 FlashyCards</small>
    </footer>
  </body>
</html>
